<div class="container">
  <div class="modalContent">
    <div class="modal">
      <div class="form" *ngIf="editType">
        <form class="formData">
          <div class="form-row">
            <div class="labels">
              <label for="Name">Name</label>
            </div>
            <div class="inputs">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="Name"
                placeholder="Name"
                required
                value="{{ peopleList.name }}"
              />
            </div>
          </div>

          <hr />

          <div class="form-row">
            <div class="labels">
              <label for="Region">Region</label>
            </div>
            <div class="inputs">
              <input
                formControlName="region"
                type="text"
                class="form-control"
                id="Region"
                placeholder="Region"
                required
                value="{{ peopleList.region }}"
              />
            </div>
          </div>
          <hr />

          <div class="form-row">
            <div class="labels">
              <label for="Country">Country</label>
            </div>
            <div class="inputs">
              <input
                formControlName="country"
                type="text"
                class="form-control"
                id="Country"
                placeholder="Country"
                required
                value="{{ peopleList.country }}"
              />
            </div>
          </div>
          <hr />

          <div class="form-row">
            <div class="labels">
              <label for="Numberrange">Numberrange</label>
            </div>
            <div class="inputs">
              <input
                formControlName="numberrange"
                type="text"
                class="form-control"
                id="Numberrange"
                placeholder="Numberrange"
                required
                value="{{ peopleList.numberrange }}"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="buttons">
              <div class="container" style="display: flex">
                <div><button class="save">Save</button></div>
                <div>
                  <button class="close" (click)="closeModal()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="form" *ngIf="!editType">
        <form class="formData">
          <div class="form-row">
            <div class="labels">
              <label for="Name">Email</label>
            </div>
            <div class="inputs">
              <input
                formControlName="email"
                type="text"
                class="form-control"
                id="Email"
                placeholder="Email"
                required
                value="{{ peopleContacts.email }}"
              />
            </div>
          </div>

          <hr />

          <div class="form-row">
            <div class="labels">
              <label for="Region">Phone</label>
            </div>
            <div class="inputs">
              <input
                formControlName="phone"
                type="text"
                class="form-control"
                id="Phone"
                placeholder="Phone"
                required
                value="{{ peopleContacts.phone }}"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="buttons">
              <div class="container" style="display: flex">
                <div><button class="save">Save</button></div>
                <div>
                  <button class="close" (click)="closeModal()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
