<div class="container">
  <div class="modalContent">
    <div class="modal">
      <div class="form">
        <form class="formData">
          <div class="form-row">
            <div class="labels">
              <label for="Name">Name</label>
            </div>
            <div class="inputs">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="Name"
                placeholder="Name"
                required
              />
            </div>
          </div>

          <hr />

          <div class="form-row">
            <div class="labels">
              <label for="Region">Region</label>
            </div>
            <div class="inputs">
              <input
                formControlName="region"
                type="text"
                class="form-control"
                id="Region"
                placeholder="Region"
                required
              />
            </div>
          </div>
          <hr />

          <div class="form-row">
            <div class="labels">
              <label for="Country">Country</label>
            </div>
            <div class="inputs">
              <input
                formControlName="country"
                type="text"
                class="form-control"
                id="Country"
                placeholder="Country"
                required
              />
            </div>
          </div>
          <hr />

          <div class="form-row">
            <div class="labels">
              <label for="Numberrange">Numberrange</label>
            </div>
            <div class="inputs">
              <input
                formControlName="numberrange"
                type="text"
                class="form-control"
                id="Numberrange"
                placeholder="Numberrange"
                required
              />
            </div>
          </div>
          <div class="form-row">
            <div class="buttons">
              <div class="container" style="display: flex">
                <div><button class="save">Save</button></div>
                <div>
                  <button class="close" (click)="closeModal()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
