.addInfo {
  .add {
    width: 100px;
    padding: 8px;
    background: #4f7849;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
}
.main {
  width: 100%;
  max-width: 500px;
  grid-column: 1/2;
  grid-row: 2/3;
  border: 1px solid #4f7849;
  overflow-y: scroll;

  .container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
    padding: 25px;

    .card {
      width: 100px;
      height: 50px;
      display: grid;
      place-items: center;
      border: 1px solid #4f7849;
      position: relative;
      margin: 0 auto;

      .btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgb(255, 255, 255);
        color: #4f7849;
        border: none;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
