table.comicGreen {
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 2px solid #4f7849;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.comicGreen td,
table.comicGreen th {
  border: 1px solid #4f7849;
  padding: 3px 2px;
}
table.comicGreen tbody td {
  font-size: 19px;
  font-weight: bold;
  color: #4f7849;
}
table.comicGreen tr:nth-child(even) {
  background: #cee0cc;
}
tbody {
  .edit {
    width: 100%;
    padding: 8px;
    background: #4f7849;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
  .delete {
    width: 100%;
    padding: 8px;
    background: #4f7849;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
}

.addInfo {
  .add {
    width: 100px;
    padding: 8px;
    background: #4f7849;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
}
