<div class="addInfo">
  <button class="add">
    Add
  </button>
</div>
<table class="comicGreen">
  <tr>
    <th>Name</th>
    <th>Region</th>
    <th>Country</th>
    <th>Numberrange</th>
  </tr>
  <tbody class="tbody">
    <tr *ngFor="let item of peopleList">
      <td>{{ item.name }}</td>
      <td>{{ item.region }}</td>
      <td>{{ item.country }}</td>
      <td>{{ item.numberrange }}</td>
      <td><button class="edit" (click)="openEditModal()">Edit</button></td>
      <td>
        <button class="delete" (click)="openDeleteModal(item.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
